absl-py==0.9.0
adal==1.2.4
aiohttp==3.6.2
aioredis==1.3.1
altair==4.1.0
altair-data-server==0.4.1
ansible==2.9.9
ansible-jupyter-widgets==1.0
ansible-kernel==0.9.0
ansible-runner==1.4.6
ansiwrap==0.8.4
appdirs==1.4.4
applicationinsights-jupyter==0.13
argcomplete==1.11.1
arrow==0.15.6
asn1crypto==1.3.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
awscli==1.18.77
azure-common==1.1.25
azure-core==1.6.0
azure-eventhub==5.1.0
azure-eventhubs-client==0.98.1
azure-mgmt-eventhub==3.1.0
Babel==2.8.0
backcall==0.2.0
beakerx==1.4.1
beautifulsoup4==4.9.1
binaryornot==0.4.4
biopython==1.77
black==19.10b0
bleach==3.1.5
blinker==1.4
blis==0.4.1
bokeh==2.0.2
bookbook==0.2
boto==2.49.0
boto3==1.13.25
botocore==1.16.25
Bottleneck==1.3.2
Brotli==1.0.7
bz2file==0.98
cachetools==4.1.0
catalogue==1.0.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.3
configparser==5.0.0
contractions==0.0.25
cookiecutter==1.7.2
cryptography==2.9.2
csv2sqlite==0.3.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.20
cytoolz==0.10.1
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
docopt==0.6.2
docutils==0.16
docx2txt==0.8
doit==0.32.0
EbookLib==0.17.1
entrypoints==0.3
enum34==1.1.10
extract-msg==0.23.3
fastai==1.0.61
fastavro==0.23.4
fastparquet==0.4.0
fastprogress==0.2.3
featurize-jupyterlab==0.0.27
flake8==3.8.3
Flask==1.1.2
Flask-Compress==1.5.0
fn==0.4.3
fs==2.4.11
fs-s3fs==1.1.1
fs.smbfs==0.6.3
functional-python==0.0.5
future==0.18.2
futures3==1.0.0
gast==0.3.3
general-log-parser==0.1.7
gensim==3.8.3
ghp-import2==1.0.1
gitdb==4.0.5
GitPython==3.1.3
google-auth==1.16.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14
grpcio==1.29.0
h5py==2.10.0
hiredis==1.0.1
husl==4.0.3
idna==2.9
imageio==2.8.0
IMAPClient==2.1.0
inflect==4.1.0
intel-openmp==2020.0.133
ipaddress==1.0.23
IPlantUML==0.1.1
ipycytoscape==0.2.2
ipydatawidgets==4.0.1
ipykernel==5.3.0
ipysheet==0.4.4
ipython==7.15.0
ipython-genutils==0.2.0
ipytree==0.1.8
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-bokeh==2.0.2
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-fs==0.0.2
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-project==1.0.1
jupyter-server==0.1.1
jupyter-server-proxy==1.5.0
jupyterlab==2.1.4
jupyterlab-code-formatter==1.3.1
jupyterlab-commands==0.2.2
jupyterlab-dash==0.1.0a3
jupyterlab-github==2.0.0
jupyterlab-powerpoint==0.1.0
jupyterlab-pygments==0.1.1
jupyterlab-quickopen==0.4.1
jupyterlab-server==1.1.5
jupyterlab-sql==0.3.3
jupyterlab-templates==0.2.4
jupyterlab-widgets==0.6.15
jupyterlab-zip==1.0.1
jupyterthemes==0.20.0
jupytext==1.5.0
kafka==1.3.5
Keras==2.3.1
keras-adversarial==0.0.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
keyring==21.2.1
kiwisolver==1.2.0
ksql==0.5.1.1
lesscpy==0.14.0
libxml2-python3==2.9.5
llvmlite==0.32.1
lockfile==0.12.2
lxml==4.5.1
Mako==1.1.3
marathon==0.12.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
micawber==0.5.1
mistune==0.8.4
mmh==2.2
more-itertools==8.3.0
mpmath==1.1.0
msgpack==1.0.0
msgpack-numpy==0.4.6.post0
msrest==0.6.16
msrestazure==0.6.3
multidict==4.7.6
murmurhash==1.0.2
murmurhash3==2.3.5
natsort==7.0.1
nbclient==0.4.0
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.7
nbresuse==0.3.3
nest-asyncio==1.3.3
networkx==2.4
Nikola==8.0.4
nltk==3.5
nodejs==0.1.1
notebook==6.1.5
notedown==1.5.1
numba==0.49.1
numexpr==2.7.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
openssl-python==0.1.1
opt-einsum==3.2.1
optional-django==0.1.0
packaging==20.4
pamqp==2.3.0
pandas==1.0.4
pandoc-attributes==0.1.7
pandocfilters==1.4.2
papermill==2.1.1
parso==0.7.0
pathlib==1.0.1
pathspec==0.8.0
pathtools==0.1.2
patsy==0.5.1
pdf2textlib==1.0.4
pdfminer.six==20181108
pexpect==4.8.0
phpserialize==1.3
pickleshare==0.7.5
piexif==1.1.3
Pillow==7.1.2
pipdeptree==0.13.2
pkginfo==1.5.0.1
pla==0.6.2
plac==1.1.3
plantweb==1.2.1
plotly==4.8.1
pluggy==0.13.1
ply==3.11
portpicker==1.3.1
poyo==0.5.0
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.1
py4j==0.10.7
pyahocorasick==1.4.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.9.7
pyenchant==3.1.1
pyflakes==2.2.0
pygal==2.4.0
Pygments==2.6.1
pyhumps==1.3.1
pyinotify==0.9.6
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.9.5
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyrsistent==0.16.0
PyRSS2Gen==1.1
pysmb==1.2.1
PySocks==1.7.1
pyspark==2.4.6
pystream-protobuf==1.6.0
pytest==5.4.3
pytest-tornado==0.8.0
python-crfsuite==0.9.7
python-daemon==2.2.4
python-dateutil==2.8.1
python-gettext==4.0
python-pptx==0.6.18
python-slugify==4.0.0
pythreejs==2.2.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
qgrid==1.3.1
qtconsole==4.7.4
QtPy==1.9.0
quiver==0.1
rabbitpy==2.0.1
raw-zlib==0.1.8
readline==6.2.4.1
readme-renderer==26.0
redis==3.5.3
regex==2020.6.8
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==3.4.2
ruamel.appconfig==0.5.4
ruamel.std.argparse==0.8.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scandir==1.10.0
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
SecretStorage==3.1.2
Send2Trash==1.5.0
simpervisor==0.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==5.3.0
six==1.15.0
sklearn-crfsuite==0.3.6
sklearn-pandas==1.8.0
smart-open==2.0.0
smartypants==2.0.1
smmap==3.0.4
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.2.4
spectate==0.4.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.17
srsly==1.0.2
statsmodels==0.11.1
supersqlite==0.0.78
sympy==1.6
tables==3.6.1
tabulate==0.8.7
tenacity==6.2.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.8.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textract==1.6.3
textsearch==0.0.17
textwrap3==0.9.2
thinc==7.4.1
threadpoolctl==2.1.0
thrift==0.13.0
tifffile==2020.6.3
tk==0.1.0
toml==0.10.1
toolz==0.10.0
torch==1.5.0
torchvision==0.6.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
traittypes==0.2.1
twine==3.1.1
twython==3.8.2
typed-ast==1.4.1
typing-extensions==3.7.4.2
typogrify==2.0.7
tzlocal==1.5.1
uamqp==1.2.8
ujson==3.0.0
Unidecode==1.1.1
urllib3==1.25.9
vega-datasets==0.8.0
voila==0.1.21
votebase==0.3.2
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.7.0
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.9
yaml-1.3==0.1.0
Yapsy==1.12.2
yarl==1.4.2
zmq-message-patterns==0.1.0
